@{ 
    ViewData["Title"] = "Create";
}



<h1>Create Movie</h1>

<form method="post">
    Title: <input ="text" value="" name="title" id="" class=""/> <br/>
    Budget: <input ="text" value="" name="budget" id="" class=""/> <br/>




    // info with name and value
    <input type="submit" value="Save Movie" />




</form>